body {
  background-image: url(assets/lake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;

  /* OPTIONAL */

 /*  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;  */ 
}

.clock-container {
    backdrop-filter: blur(20px);
}

.clock {
  font-size: 6em;
  margin-top: 20%;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}
